openapi: 3.2.0
info:
  title: Vibes Platform Events API
  description: The Vibes Platform API provides programmatic access to mobile engagement capabilities including broadcast messaging (SMS and push notifications), acquisition campaign management, subscription list management, wallet pass management, event-triggered messages, and callback registrations. Vibes is a Tier 1 mobile messaging provider with direct carrier connections to AT&T, Verizon, T-Mobile, and regional carriers in the US and Canada.
  version: '1.0'
  contact:
    url: https://developer-platform.vibes.com/docs/support-1
  termsOfService: https://www.vibes.com/legal/terms
  license:
    name: Proprietary
servers:
- url: https://public-api.vibescm.com
  description: US Production Environment
- url: https://public-api.eu.vibes.com
  description: EU Production Environment
security:
- basicAuth: []
tags:
- name: Events
  description: Submit events that trigger SMS messages and push notifications.
paths:
  /companies/{company_key}/events:
    post:
      operationId: createEvent
      summary: Create Event
      description: Submit an event that triggers SMS messages and push notifications. Events are used to create event-triggered messages based on customer actions or data changes.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/company_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreate'
      responses:
        '201':
          description: Event submitted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Rate limit exceeded - too many requests.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: array
          items:
            type: string
          description: Additional error details.
    EventCreate:
      type: object
      required:
      - event_type
      - person_key
      properties:
        event_type:
          type: string
          description: Type of event that triggers messaging.
        person_key:
          type: string
          description: Internal Vibes person key or external_person_id.
        attributes:
          type: object
          description: Custom attributes to personalize triggered messages.
          additionalProperties:
            type: string
    Event:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the event.
        event_type:
          type: string
          description: Type of event.
        person_key:
          type: string
          description: Person key the event was submitted for.
        status:
          type: string
          description: Processing status of the event.
          enum:
          - queued
          - processed
          - failed
        created_at:
          type: string
          format: date-time
          description: When the event was submitted.
  parameters:
    company_key:
      name: company_key
      in: path
      required: true
      description: Your Vibes company identifier.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Combine the username and password into a "username:password" string, encode it using Base64, and add the Authorization HTTP header set to "Basic " plus the encoded string.
externalDocs:
  url: https://developer-platform.vibes.com/reference/our-apis
  description: Vibes Platform Developer Documentation
