openapi: 3.2.0
info:
  title: Vibes Platform Persons API
  description: The Vibes Platform API provides programmatic access to mobile engagement capabilities including broadcast messaging (SMS and push notifications), acquisition campaign management, subscription list management, wallet pass management, event-triggered messages, and callback registrations. Vibes is a Tier 1 mobile messaging provider with direct carrier connections to AT&T, Verizon, T-Mobile, and regional carriers in the US and Canada.
  version: '1.0'
  contact:
    url: https://developer-platform.vibes.com/docs/support-1
  termsOfService: https://www.vibes.com/legal/terms
  license:
    name: Proprietary
servers:
- url: https://public-api.vibescm.com
  description: US Production Environment
- url: https://public-api.eu.vibes.com
  description: EU Production Environment
security:
- basicAuth: []
tags:
- name: Persons
  description: Manage persons (subscribers) in the mobile contact book.
paths:
  /companies/{company_key}/mobiledb/persons/{person_key}:
    get:
      operationId: getPerson
      summary: Get Person
      description: Retrieve a subscriber (person) from the mobile contact book by their internal key.
      tags:
      - Persons
      parameters:
      - $ref: '#/components/parameters/company_key'
      - $ref: '#/components/parameters/person_key'
      responses:
        '200':
          description: Person details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    person_key:
      name: person_key
      in: path
      required: true
      description: The internal Vibes person key for the subscriber.
      schema:
        type: string
    company_key:
      name: company_key
      in: path
      required: true
      description: Your Vibes company identifier.
      schema:
        type: string
  responses:
    TooManyRequests:
      description: Rate limit exceeded - too many requests.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Person:
      type: object
      properties:
        person_key:
          type: string
          description: Internal Vibes person key.
        external_person_id:
          type: string
          description: External person identifier.
        mobile_phone:
          type: string
          description: Person's mobile phone number.
        status:
          type: string
          description: Subscription status.
          enum:
          - subscribed
          - unsubscribed
        created_at:
          type: string
          format: date-time
          description: When the person was added.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: array
          items:
            type: string
          description: Additional error details.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Combine the username and password into a "username:password" string, encode it using Base64, and add the Authorization HTTP header set to "Basic " plus the encoded string.
externalDocs:
  url: https://developer-platform.vibes.com/reference/our-apis
  description: Vibes Platform Developer Documentation
