openapi: 3.0.3
info:
  title: Vibes Connect HTTP Message Acquisition Campaigns Carrier Lookup API
  description: The Vibes Connect HTTP Message API enables sending and receiving SMS and MMS messages via HTTP calls. Vibes is a Tier 1 carrier in the United States with direct connections to Verizon, AT&T, T-Mobile, and regional providers. The API supports SMS messaging, MMS messaging with multimedia content, callback setup for inbound messages, and carrier information lookups.
  version: '3.0'
  contact:
    url: https://developer-aggregation.vibes.com
  license:
    name: Proprietary
servers:
- url: https://messageapi.vibesapps.com
  description: US and Canada SMS Endpoint
- url: https://messageapi-mms.vibesapps.com
  description: US MMS Endpoint
security:
- basicAuth: []
tags:
- name: Carrier Lookup
  description: Retrieve carrier information for mobile numbers.
paths:
  /api/v1/carrier-lookup:
    post:
      operationId: lookupCarrier
      summary: Lookup Carrier
      description: Retrieve carrier information for a specific mobile number.
      tags:
      - Carrier Lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - mobile_number
              properties:
                mobile_number:
                  type: string
                  description: Mobile number to look up carrier information for (E.164 format).
                  example: '+15551234567'
      responses:
        '200':
          description: Carrier information for the mobile number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded - too many requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier.
        message:
          type: string
          description: Human-readable error message.
    CarrierInfo:
      type: object
      properties:
        mobile_number:
          type: string
          description: The mobile number that was looked up.
        carrier:
          type: string
          description: Name of the mobile carrier.
          example: Verizon Wireless
        carrier_id:
          type: string
          description: Carrier identifier code.
        number_type:
          type: string
          description: Type of number.
          enum:
          - mobile
          - landline
          - voip
        country_code:
          type: string
          description: Two-letter ISO country code.
          example: US
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Combine the username and password into a "username:password" string, encode it using Base64, and add the Authorization HTTP header set to "Basic " plus the encoded string.
externalDocs:
  url: https://developer-aggregation.vibes.com/reference/http-message-api
  description: Vibes Connect API Documentation
