openapi: 3.0.3
info:
  title: Vibes Connect HTTP Message Acquisition Campaigns Callbacks API
  description: The Vibes Connect HTTP Message API enables sending and receiving SMS and MMS messages via HTTP calls. Vibes is a Tier 1 carrier in the United States with direct connections to Verizon, AT&T, T-Mobile, and regional providers. The API supports SMS messaging, MMS messaging with multimedia content, callback setup for inbound messages, and carrier information lookups.
  version: '3.0'
  contact:
    url: https://developer-aggregation.vibes.com
  license:
    name: Proprietary
servers:
- url: https://messageapi.vibesapps.com
  description: US and Canada SMS Endpoint
- url: https://messageapi-mms.vibesapps.com
  description: US MMS Endpoint
security:
- basicAuth: []
tags:
- name: Callbacks
  description: Register and manage callback endpoints for opt-in and delivery notifications.
paths:
  /companies/{company_key}/callbacks:
    get:
      operationId: listCallbacks
      summary: List Callbacks
      description: Retrieve all registered callback endpoints for the company.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/company_key'
      responses:
        '200':
          description: A list of registered callbacks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  callbacks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Callback'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: registerCallback
      summary: Register Callback
      description: Register a new callback endpoint for opt-in or delivery status notifications.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/company_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCreate'
      responses:
        '201':
          description: Callback registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    CallbackCreate:
      type: object
      required:
      - callback_type
      - url
      properties:
        callback_type:
          type: string
          description: Type of event that triggers this callback.
          enum:
          - opt_in
          - opt_out
          - delivery_status
          - mms_received
        url:
          type: string
          format: uri
          description: HTTPS URL to receive callback POST requests.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier.
        message:
          type: string
          description: Human-readable error message.
        details:
          type: array
          items:
            type: string
          description: Additional error details.
    Callback:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the callback registration.
        callback_type:
          type: string
          description: Type of event that triggers this callback.
          enum:
          - opt_in
          - opt_out
          - delivery_status
          - mms_received
        url:
          type: string
          format: uri
          description: URL to call when the event occurs.
        created_at:
          type: string
          format: date-time
          description: When the callback was registered.
  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded - too many requests.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    company_key:
      name: company_key
      in: path
      required: true
      description: Your Vibes company identifier.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Combine the username and password into a "username:password" string, encode it using Base64, and add the Authorization HTTP header set to "Basic " plus the encoded string.
externalDocs:
  url: https://developer-aggregation.vibes.com/reference/http-message-api
  description: Vibes Connect API Documentation
