{
  "openapi": "3.0.0",
  "info": {
    "title": "Vibes Platform API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api.vibescm.com",
      "description": "North America"
    },
    {
      "url": "https://public-api.eu.vibes.com/",
      "description": "EMEA"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Acquisition Campaign API"
    },
    {
      "name": "Broadcast API"
    },
    {
      "name": "Callback API"
    },
    {
      "name": "Event API"
    },
    {
      "name": "Event-Triggered Campaign API"
    },
    {
      "name": "Incentive Code API"
    },
    {
      "name": "Incentive Pool API"
    },
    {
      "name": "Person API"
    },
    {
      "name": "Push Device Manager API"
    },
    {
      "name": "Source Code API"
    },
    {
      "name": "Subscription API"
    },
    {
      "name": "Subscription List API"
    },
    {
      "name": "Wallet Campaign API",
      "description": "Manage mobile wallet campaigns and the individual wallet items (passes) issued from them. A wallet campaign is the container for a single offer, loyalty card, or event ticket program; it owns the iOS and Android pass templates, the messages you send, and the store locations attached to the passes. Items are the per-recipient passes created when end users add a pass to Apple Wallet or Google Wallet."
    },
    {
      "name": "Wallet Messaging API",
      "description": "Send push-style messages to the holders of a wallet campaign's passes and review messages that have already been sent. Messages can be targeted to specific recipients with filters (for example, by token value or group code)."
    },
    {
      "name": "Android Wallet Templates API",
      "description": "Define the design and content of the Google Wallet (Android) pass for a wallet campaign. Each campaign has a single Google Wallet template whose fields map to Google Wallet pass concepts. See the Google Wallet reference for field semantics: https://developers.google.com/wallet/generic"
    },
    {
      "name": "iOS Wallet Templates API",
      "description": "Define the design and content of the Apple Wallet (iOS) pass for a wallet campaign. Each campaign has a single Apple Wallet (passbook) template whose fields map to PassKit pass concepts. See the Apple Wallet Passes reference for field semantics: https://developer.apple.com/documentation/WalletPasses"
    },
    {
      "name": "Wallet Location Selector API",
      "description": "Configure the branded \"Add to Wallet\" landing page shown to end users for a wallet campaign, including its image, heading, colors, and language."
    },
    {
      "name": "Wallet Store Locations API",
      "description": "Manage the store locations attached to a wallet campaign. Locations drive geofenced lock-screen notifications that remind pass holders about a nearby store."
    }
  ],
  "paths": {
    "/companies/{company_key}/campaigns/acquisition": {
      "get": {
        "tags": [
          "Acquisition Campaign API"
        ],
        "summary": "Get acquisition campaigns",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/acquisitionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No campaigns can be located."
          }
        }
      }
    },
    "/companies/{company_key}/campaigns/acquisition/{acquisition_id}": {
      "get": {
        "tags": [
          "Acquisition Campaign API"
        ],
        "summary": "Get an acquisition campaign",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "acquisition_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/acquisitionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `acquisition_id` cannot be located."
          }
        }
      }
    },
    "/companies/{company_key}/campaigns/acquisition/{acquisition_id}/participants": {
      "get": {
        "tags": [
          "Acquisition Campaign API"
        ],
        "summary": "Search for pending participants",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "mdn",
            "in": "query",
            "description": "Mobile Directory Number. The dialable phone number associated with the phone. Required if searching by mdn.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "description": "Vibes-assigned unique indentifier for the person. Required if searching by person_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_person_id",
            "in": "query",
            "description": "A unique person identifier assigned by the brand, which can be used to link non-Vibes-assigned identifiers to Vibes person records. Required if searching by external_person_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "acquisition_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "This is returned for all valid requests. The array with be empty for entities without pending subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/acquisitionParticipantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied MDN is not in proper mobile number format."
          }
        }
      },
      "post": {
        "tags": [
          "Acquisition Campaign API"
        ],
        "summary": "Add a participant",
        "requestBody": {
          "description": "User details for acquisition",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addParticipantRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "acquisition_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live acquistion_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person being added to the live campaign.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "This means the person has a pending acquisition and has not yet confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addParticipantResponse"
                }
              }
            }
          },
          "201": {
            "description": "Depending on the \"status\", the following can be returned: <br><ul> <li>`PENDING` - The person's subscription is pending. This happens when an opt-in message has been sent, but the participant has not confirmed their subscription.</li> <li>`SUBSCRIBED` - The person is subscribed to your list.</li> </ul>"
          },
          "400": {
            "description": "The supplied mobile number is not in proper mobile number format."
          },
          "409": {
            "description": "Already subscribed. This means the person has tried to subscribe more than once, but is already subscribed to the list."
          },
          "422": {
            "description": "Returned in the following situations:<br> <ul> <li>`MDNHASCONFIRMATIONBLOCK`: Returned when the MDN has previously replied \u201cNo\u201d to the acquisition campaign.<br><b>Note</b>: When an MDN has previously replied \"No\" to an acquisition campaign, they cannot be added via API using that campaign. However, the MDN can still join a subscription list by texting in the appropriate keyword.</li> <li>The supplied phone number does not map to a provisioned carrier. This is mostly returned for a landline number.</li> <li>`EXTERNALPERSONIDMISMATCH`: Returned when trying to subscribe a person with an `external_person_id` that is already in use.</li> <li>`UNPROCESSABLE ENTITY`: Returned when unable to process the request with the contained instructions. Please reach out to Vibes Customer Care or your account manager for troubleshooting support.</li> <li>An error listing specific elements from the body is returned when trying to populate custom field data for custom fields unknown to the platform.</li> </ul>"
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/broadcasts/": {
      "post": {
        "tags": [
          "Broadcast API"
        ],
        "summary": "Create a broadcast",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/broadcastRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a new broadcast being created.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/broadcastResponse"
                }
              }
            }
          },
          "201": {
            "description": "Broadcast has been created."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/broadcasts": {
      "get": {
        "tags": [
          "Broadcast API"
        ],
        "summary": "Get broadcasts",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "sent",
                "canceled",
                "in_progress",
                "failed",
                "paused",
                "deleted"
              ]
            },
            "example": "scheduled"
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/broadcastsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/broadcasts/{broadcast_id}": {
      "get": {
        "tags": [
          "Broadcast API"
        ],
        "summary": "Get a broadcast",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "broadcast_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/broadcastResponse"
                }
              }
            }
          },
          "404": {
            "description": "The broadcast cannot be found or the `broadcast_id` is invalid."
          }
        }
      },
      "put": {
        "tags": [
          "Broadcast API"
        ],
        "summary": "Update a broadcast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/broadcastRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "broadcast_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live broadcast_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in changes being made to the live broadcast.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/broadcastResponse"
                }
              }
            }
          },
          "403": {
            "description": "The status of the broadcast is not scheduled."
          },
          "404": {
            "description": "The `broadcast_id` cannot be found."
          }
        }
      },
      "delete": {
        "tags": [
          "Broadcast API"
        ],
        "summary": "Cancel a broadcast",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "broadcast_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live broadcast_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in the live broadcast being canceled.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/broadcastResponse"
                }
              }
            }
          },
          "403": {
            "description": "Returned if the broadcast cannot be canceled because it has already been sent."
          },
          "404": {
            "description": "The `broadcast_id` cannot be found."
          }
        }
      }
    },
    "/companies/{company_key}/config/callbacks/": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Register for a new callback type",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/callbackRequest-Ack"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Event"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Person"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Push"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Sub"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-SubList"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Unmatched"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Wallet"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in your company being registered for a new callback.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbackResponse"
                }
              }
            }
          },
          "201": {
            "description": "Callback has been successfully registered."
          }
        }
      },
      "get": {
        "tags": [
          "Callback API"
        ],
        "summary": "List registered callbacks",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbacksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/config/callbacks/{callback_id}": {
      "get": {
        "tags": [
          "Callback API"
        ],
        "summary": "Get a callback",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "callback_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbackResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `callback_id` is not recognized."
          }
        }
      },
      "put": {
        "tags": [
          "Callback API"
        ],
        "summary": "Update a callback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/callbackRequest-Ack"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Event"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Person"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Push"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Sub"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-SubList"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Unmatched"
                  },
                  {
                    "$ref": "#/components/schemas/callbackRequest-Wallet"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in your company being registered for a new callback.</div></div>"
          },
          {
            "name": "callback_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The id for the callback you are updating."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbackResponse"
                }
              }
            }
          },
          "201": {
            "description": "Callback has been successfully updated."
          }
        }
      },
      "delete": {
        "tags": [
          "Callback API"
        ],
        "summary": "Cancel a callback",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "callback_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a callback being cancelled.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Callback was successfully cancelled. Your endpoint will no longer receive this callback.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/callbackResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `callback_id` cannot be found."
          }
        }
      }
    },
    "/companies/{company_key}/config/callback_events/test": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Create a test callback event",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-Ack"
                  },
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-Event"
                  },
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-Person"
                  },
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-Push"
                  },
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-Sub"
                  },
                  {
                    "$ref": "#/components/schemas/testcallbackRequest-SubList"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in your company being registered for a new callback.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/testCallbackResponse"
                }
              }
            }
          },
          "201": {
            "description": "The callback was queued for send."
          },
          "404": {
            "description": "An active callback does not exist."
          }
        }
      }
    },
    "/companies/{company_key}/events": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "Create an event",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a new event being created.</div></div>"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventResponse"
                }
              }
            }
          },
          "202": {
            "description": "Returned if the event has been successfully submitted but will not necessarily result in a message. To track whether or not your message was sent and received by the end user, we recommend registering for <a href=\"https://developer-platform.vibes.com/reference/event-triggered-callbacks\">Event-Triggered Callbacks</a>."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/event_triggered_messages": {
      "post": {
        "tags": [
          "Event-Triggered Campaign API"
        ],
        "summary": "Create an event-triggered campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequest"
                  },
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequestMMS"
                  },
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequestPush"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a new event-triggered broadcast being created.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventTriggeredResponse"
                }
              }
            }
          },
          "202": {
            "description": "Campaign has been successfully created. This response will include additional information about your campaign, including the `event_triggered_messsage_id`, `status`, `created_by`, and more. These are defined by the system and cannot be changed."
          }
        }
      },
      "get": {
        "tags": [
          "Event-Triggered Campaign API"
        ],
        "summary": "Get event-triggered campaigns",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional status filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Optional event type.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventTriggeredsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/event_triggered_messages/{event_triggered_message_id}": {
      "get": {
        "tags": [
          "Event-Triggered Campaign API"
        ],
        "summary": "Get event-triggered campaign info",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "event_triggered_message_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response incentivePoolResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventTriggeredResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `event_triggered_message_id` cannot be found."
          }
        }
      },
      "put": {
        "tags": [
          "Event-Triggered Campaign API"
        ],
        "summary": "Update an event-triggered campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequest"
                  },
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequestMMS"
                  },
                  {
                    "$ref": "#/components/schemas/eventTriggeredRequestPush"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "event_triggered_message_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live event_triggered_message_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in changes being made to the live campaign.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventTriggeredResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `event_triggered_message_id` does not exist."
          },
          "422": {
            "description": "The status code of the entity does not allow updates. For example, the campaign has been cancelled."
          }
        }
      },
      "delete": {
        "tags": [
          "Event-Triggered Campaign API"
        ],
        "summary": "Cancel an event-triggered campaign",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "event_triggered_message_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live event_triggered_message_id, please note that using the <b>\"Try It\"</b>  feature on the righthand console will send an actual API call to our system. This may result in the live campaign being deleted.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventTriggeredResponse"
                }
              }
            }
          },
          "404": {
            "description": "The campaign cannot be found."
          }
        }
      }
    },
    "/companies/{company_key}/incentives/pools/{issuance_pool_id}/issuances": {
      "post": {
        "tags": [
          "Incentive Code API"
        ],
        "summary": "Issue an incentive code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/incentiveCodeIssuanceRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "issuance_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live issuance_pool_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a code being issued.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentiveCodeIssuanceResponse"
                }
              }
            }
          },
          "422": {
            "description": "No codes are available from the code pool specified."
          }
        }
      }
    },
    "/companies/{company_key}/incentives/codes/{incentive_code}": {
      "get": {
        "tags": [
          "Incentive Code API"
        ],
        "summary": "Get incentive code",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentiveCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/incentives/codes/{incentive_code}/issuances": {
      "get": {
        "tags": [
          "Incentive Code API"
        ],
        "summary": "Get issuances for a code",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentiveCodeIssuancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/incentives/codes/{incentive_code}/redemptions": {
      "post": {
        "tags": [
          "Incentive Code API"
        ],
        "summary": "Redeem an incentive code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/incentiveCodeIssuanceRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real incentive_code, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a code being redeemed.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentiveCodeIssuancesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Returned in the following cases:<br> <ul> <li>When using an invalid issuee_id or external_issuee_id.</li> <li>When using a \"unique\" pool type, and the code has already been redeemed.</li </ul>"
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Code API"
        ],
        "summary": "Get redemptions for a code",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_code",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentiveCodeIssuancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/incentives/pools": {
      "get": {
        "tags": [
          "Incentive Pool API"
        ],
        "summary": "Get incentive pools",
        "parameters": [
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentivePoolsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Incentive Pool API"
        ],
        "summary": "Create a new code pool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/incentivePoolRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-VERSION",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a new code pool being created.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentivePoolResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/incentives/pools/{incentive_pool_id}": {
      "put": {
        "tags": [
          "Incentive Pool API"
        ],
        "summary": "Update an existing pool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/incentivePoolRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a live incentive_pool_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in changes being made to the live code pool.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentivePoolResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Pool API"
        ],
        "summary": "Get code pool info",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "incentive_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incentivePoolResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/{person_key}": {
      "get": {
        "tags": [
          "Person API"
        ],
        "summary": "Get person by person_key",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "404": {
            "description": "The person record cannot be found using this `person_key`."
          },
          "422": {
            "description": "The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions."
          }
        }
      },
      "put": {
        "tags": [
          "Person API"
        ],
        "summary": "Update person by person_key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real person_key, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person record being updated.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. An existing person record was identified and the specified fields have been updated. Any existing data fields on the record will remain unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "201": {
            "description": "Person record has been updated."
          },
          "409": {
            "description": "Conflict error. This may occur if you are attempting to update an MDN. Note that you cannot update an MDN on an existing person record, but you may remove an MDN by setting the value to `null`."
          },
          "422": {
            "description": "The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/external/{external_person_id}": {
      "get": {
        "tags": [
          "Person API"
        ],
        "summary": "Get person by external_person_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "404": {
            "description": "Person record cannot be found using the specified `external_person_id`."
          },
          "422": {
            "description": "The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions."
          }
        }
      },
      "put": {
        "tags": [
          "Person API"
        ],
        "summary": "Update person by external_person_id",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real external_person_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person record being updated.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. An existing person record already exists, and the record will be updated with the added information. Any existing data fields on the record will remain unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "201": {
            "description": "Person record has been successfully updated."
          },
          "409": {
            "description": "Conflict error. This occurs if you are attempting to update an MDN. An MDN cannot be updated, but it can be removed if you set its value to `null`."
          },
          "422": {
            "description": "The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons": {
      "get": {
        "tags": [
          "Person API"
        ],
        "summary": "Find person by MDN",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "mdn",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid MDN format. If you are using E.164 format, be sure to include %2B in place of +."
          },
          "404": {
            "description": "MDN not found. This can be returned if you don\u2019t specify an MDN, or if there are no person records associated with that MDN."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/": {
      "post": {
        "tags": [
          "Person API"
        ],
        "summary": "Add a person",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/personRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Please note that the <b>\"Try It\"</b> feature to the right will send an actual API call to our system, which may result in a new person record being created.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. An existing person record already exists with the same MDN. The record will be updated with the added information, and any unspecified data fields on the record will remain unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "201": {
            "description": "A person record has been created."
          },
          "409": {
            "description": "Conflict error. Generally, this occurs if you are attempting to create a person record with an MDN that is already associted with another person record."
          },
          "422": {
            "description": "The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/{person_key}/push_devices": {
      "get": {
        "tags": [
          "Push Device Manager API"
        ],
        "summary": "Get push device info by person_key",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pushDeviceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The device cannot be located using the `person_key` provided."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/external/{external_person_id}/push_devices": {
      "get": {
        "tags": [
          "Push Device Manager API"
        ],
        "summary": "Get push device info by external_person_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pushDeviceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The device cannot be located using the `external_person_id` provided."
          }
        }
      }
    },
    "/mobile_apps/{app_id}/devices/{vibes_device_id}": {
      "get": {
        "tags": [
          "Push Device Manager API"
        ],
        "summary": "Get push device info by vibes_device_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "vibes_device_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pushDeviceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The device cannot be located by the `vibes_device_id` provided."
          }
        }
      }
    },
    "/mobile_apps/{app_id}/devices/{vibes_device_id}/assign": {
      "post": {
        "tags": [
          "Push Device Manager API"
        ],
        "summary": "Associate device with person record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assignPushDeviceRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "vibes_device_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real vibes_device_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person being associated with a push device.</div></div>"
          }
        ],
        "responses": {
          "200": {
            "description": "The device was successfully assigned to the given person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `vibes_device_id` or `person_key` (if provided) could not be found."
          },
          "422": {
            "description": "Unprocessible entity. The requested assignment could not be completed. Reason will be stated in the response body."
          }
        }
      }
    },
    "/companies/{company_key}/sourcecodes": {
      "get": {
        "tags": [
          "Source Code API"
        ],
        "summary": "Get your active source codes",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sourceCodesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/{person_key}/subscriptions": {
      "get": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Get subscriptions for a person_key",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `person_key` cannot be located."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/external/{external_person_id}/subscriptions": {
      "get": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Get subscriptions for external_person_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `external_person_id` cannot be located."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/{person_key}/subscriptions/{subscription_list_id}": {
      "get": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Get subscription status for list by person_key",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "The person record cannot be located or they are not subscribed to the specified list."
          }
        }
      },
      "delete": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Unsubscribe person by person_key",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "person_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real person_key, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person being unsubscribed.</div></div>"
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "204": {
            "description": "Deletion was successful."
          },
          "404": {
            "description": "Either the person cannot be located or they are already not subscribed to the specified list."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/persons/external/{external_person_id}/subscriptions/{subscription_list_id}": {
      "get": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Get subscription status for list by external_person_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Either the person record cannot be located or the person is not subscribed to the specified list."
          }
        }
      },
      "delete": {
        "tags": [
          "Subscription API"
        ],
        "summary": "Unsubscribe person by external_person_id",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_person_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> If you are entering a real external_person_id, please note that using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a person being unsubscribed.</div></div>"
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          },
          "204": {
            "description": "Deletion was successful."
          },
          "404": {
            "description": "Either the person cannot be located or they are already not subscribed to the specified list."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/subscription_lists/{subscription_list_id}/subscribers": {
      "get": {
        "tags": [
          "Subscription List API"
        ],
        "summary": "Search for subscriber",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "mdn",
            "in": "query",
            "description": "Mobile Directory Number. The dialable phone number associated with the phone.<br><br>Required if searching by mdn.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_key",
            "in": "query",
            "description": "A unique Vibes-asigned alphanumeric identifier for each person record.<br><br>Required if searching by `person_key`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_person_id",
            "in": "query",
            "description": "A unique person identifier assigned by the brand, which can be used to link non-Vibes-assigned identifiers to Vibes person records.<br><br>Required if searching by `external_person_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personResponse"
                }
              }
            }
          },
          "404": {
            "description": "The subscriber cannot be located or they are not subscribed to the specified list."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/subscription_lists/": {
      "get": {
        "tags": [
          "Subscription List API"
        ],
        "summary": "Get subscription lists",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionListsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/subscription_lists/{subscription_list_id}": {
      "get": {
        "tags": [
          "Subscription List API"
        ],
        "summary": "Get subscription list info",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionListResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `subscription_list_id` cannot be found."
          }
        }
      }
    },
    "/companies/{company_key}/mobiledb/subscription_lists/{subscription_list_id}/acquisition_campaigns/": {
      "get": {
        "tags": [
          "Subscription List API"
        ],
        "summary": "Get acquisition campaigns for subscription list",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "subscription_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/acquisitionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "The `subscription_list_id` cannot be found."
          }
        }
      }
    },
    "/companies/{company_key}/campaigns/wallet": {
      "get": {
        "tags": [
          "Wallet Campaign API"
        ],
        "summary": "Get wallet campaigns",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/walletCampaignsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No mobile wallet campaigns are located."
          }
        }
      },
      "post": {
        "tags": [
          "Wallet Campaign API"
        ],
        "summary": "Create a wallet campaign",
        "description": "Create a new mobile wallet campaign. The campaign `type` determines the kind of pass it issues (`offer`, `loyalty`, or `event_ticket`) and cannot be changed after creation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/walletCampaignRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "required": true
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "<div style=\"color:#dd1e2e; background:url(https://d2xs7zaan7w9gl.cloudfront.net/data/pages/64014/widgets/48027d01-e827-45e0-b96d-227c1099eedc/image/1680214872.png?icon-24x24-warning.png) no-repeat 10px center; background-color:#FCEAEC; padding:10px; font-size:13px;\"><div style=\"padding-left:35px\"><b>Important:</b> Using the <b>\"Try It\"</b> feature on the righthand console will send an actual API call to our system. This may result in a wallet campaign being created.</div></div>"
          }
        ],
        "responses": {
          "201": {
            "description": "The wallet campaign was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/walletCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_key}/campaigns/wallet/{wallet_id}": {
      "get": {
        "tags": [
          "Wallet Campaign API"
        ],
        "summary": "Get a wallet campaign",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": 1
            }
          },
          {
            "name": "company_key",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "wallet_id",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The `wallet_id` is the SmartLink token for a campaign."
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/walletCampaignResponse"
                }
              }
            }
          },
          "404": {
[...]
